{% extends "base.html" %}
{% block content %}


<main role="main" class="container">
  <div class="d-flex align-items-center p-3 my-3 text-white-50 bg-purple rounded shadow-sm">
    <div class="lh-100">
      <h5 class="mb-0 text-white 1h-100"  title="To Do List"><h4><a href="/" title="To Do List" style="color: white">TO DO LİST</a></h4></h5>
      <h5 class="mb-0 text-white 1h-100"  title="To Do List"></br></h5>
    </div>
  </div>

  <div class="my-3 p-3 bg-white rounded shadow-sm">
    <h6 class="border-bottom border-gray pb-2 mb-0">{{ object.baslik }}</h6>


    <div class="media text-muted pt-3">
    {% if object.durum %}
      <svg class="bd-placeholder-img mr-2 rounded" width="32" height="32" xmlns="http://www.w3.org/2000/svg" preserveAspectRatio="xMidYMid slice" focusable="false" role="img" aria-label="Placeholder: 32x32"><title>Did</title><rect width="100%" height="100%" fill="#006400"/><text x="50%" y="50%" fill="white" dy=".3em">✓</text></svg>
    {% else %}
     <svg class="bd-placeholder-img mr-2 rounded" width="32" height="32" xmlns="http://www.w3.org/2000/svg" preserveAspectRatio="xMidYMid slice" focusable="false" role="img" aria-label="Placeholder: 32x32"><title>Did Not</title><rect width="100%" height="100%" fill="#DC143C"/><text x="50%" y="50%" fill="black" dy=".3em">X</text></svg>
    {% endif %}
      <p class="media-body pb-3 mb-0 small lh-125 border-bottom border-gray">
        <strong class="d-block text-gray-dark" id="det2"><span class="det">Detail : </span>{{ object.aciklama }}</strong><br /><br />
        <strong class="d-block text-gray-dark" id="det2"><span class="det">Published : </span>{{ object.eklenme_tarihi|date }}</strong><br /><br />
        <strong class="d-block text-gray-dark" id="det2"><span class="det">Status : </span>{{ object.durum }}</strong><br /><br />

      </p>

    </div>



  </div>

</main>





{% endblock content %}